.body-signup{
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/462/493/original/abstract-futuristic-face-concept-artificial-intelligence-background-free-vector.jpg");
    background-size: cover;
    height: 100vh;
}

/* .body-home{
    background-image: url("https://wallpapercave.com/wp/wp7890704.png");
    background-size: cover;
    height: 100%;
} */

.nav-item .active{
    font-weight: bolder;
    border-bottom: 2px solid blueviolet;
    /* color: blueviolet !important; */
  }

  .rotate1{
    transform: rotate(6deg);
  }

  .rotate2{
    transform: rotate(-6deg);
  }